<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="database"
			 connectionString ="Data Source=(localdb)\LocalDBFlashcards;Initial Catalog=FlashCardsDb;Integrated Security=true"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>